<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fgrsna@qnfpurx.arg</string>
	<key>contactName</key>
	<string>Stefan Daschek</string>
	<key>description</key>
	<string>Bundle for the RuboCop Ruby Linter.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>0EA6C62D-D2BE-415C-B645-E32203CD22B9</string>
		</array>
		<key>items</key>
		<array>
			<string>CF5F3ECB-CCF4-4F73-B458-753A26002507</string>
		</array>
	</dict>
	<key>name</key>
	<string>RuboCop</string>
	<key>require</key>
	<array>
		<dict>
			<key>name</key>
			<string>Ruby</string>
			<key>uuid</key>
			<string>467B298F-6227-11D9-BFB1-000D93589AF6</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>8D75F09A-145A-43CD-853E-6C9CF0341624</string>
</dict>
</plist>
